@*Indica que essa View tem a sua disposição o Atributo "SellerFormViewModel"*@
@model SalesWebMvc.Models.ViewModels.SellerFormViewModel

@{
    ViewData["Title"] = "Editar informações do Vendedor";
}

<h2> @ViewData["Title"] </h2>

@*Passar uma linha**@
<hr />

@*Div. Divisão em 12 partes. SEMPRE uma coluna dentro de uma linha*@
@*Linha*@
<div class="row">
    @*Div - Col*@
    <div class="col-md-4">
        @*Formulário*@
        @*Ao enviar o formulário, ele chamará o método Create. Mas não o Create GET, mas sim o Create POST*@
        <form asp-action="Edit">
            <input type="hidden" asp-for="Seller.Id" />
            @*Nome*@
            <div class="form-group">
                @*Nome do label que vai aparecer na caixa de texto pro usuário digitar*@
                <label asp-for="Seller.Name" class="control-label"></label>
                <input asp-for="Seller.Name" class="form-control" />
            </div>

            @*Email*@
            <div class="form-group">
                <label asp-for="Seller.Email" class="control-label"></label>
                <input asp-for="Seller.Email" class="form-control" />
            </div>

            @*Data de aniversário*@
            <div class="form-group">
                <label asp-for="Seller.BirthDate" class="control-label"></label>
                <input asp-for="Seller.BirthDate" class="form-control" />
            </div>

            @*Salário base*@
            <div class="form-group">
                <label asp-for="Seller.BaseSalary" class="control-label"></label>
                <input asp-for="Seller.BaseSalary" class="form-control" />
            </div>

            @*Caixa de seleção dos departamentos*@
            @*Fonte de dados da seleção / Chave do atributo / Atributo exibido*@
            <div class="form-group">
                <label asp-for="Seller.DepartmentId" class="control-label"></label>
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id",
                "Name"))" class="form-control"></select>
            </div>

            @*Botão de "Cadastrar"*@
            <div class="form-group">
                <input type="submit" value="Salvar alterações" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
